@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 默认样式 */
  :root {
    --text-color-base: 200,131,156;
    --bg-color-base1: 238,112,147;
    --bg-color-base2: 255,255,255;
    --bg-color-base3: 253,240,244;
  }
  /* 主题样式 */
  .theme-pink1 {
    --text-color-base: 200,131,156;
    --bg-color-base1: 238,112,147;
    --bg-color-base2: 255,255,255;
    --bg-color-base3: 253,240,244;
  }
  .theme-pink2 {
    --text-color-base: 197,180,229;
    --bg-color-base1: 255,223,233;
    --bg-color-base2: 255,255,255;
    --bg-color-base3: 229,234,249;
  }
  .theme-pink3 {
    --text-color-base: 222,239,255;
    --bg-color-base1: 255,170,171;
    --bg-color-base2: 255,255,255;
    --bg-color-base3: 255,234,220;
  }
}

* {
  padding: 0;
  margin: 0;
}

.pop-trangle:after {
  position: absolute;
  top: 7px;
  right: -10px;
  border: 6px solid transparent;
  border-left: 6px solid rgba(248, 250, 252, 0.9);
  content: "";
  display: block;
  z-index: 1;
}

