@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 默认样式 */
  :root {
    --text-color-base: rgb(200,131,156);
    --bg-color-left: rgb(238,112,147);
    --bg-color-center: rgb(255,255,255);
    --bg-color-right: rgb(253,240,244);
  }
  /* 主题样式 */
  .theme-pink1 {
    --text-color-base: rgb(200,131,156);
    --bg-color-left: rgb(238,112,147);
    --bg-color-center: rgb(255,255,255);
    --bg-color-right: rgb(253,240,244);
  }
  .theme-pink2 {
    --text-color-base: rgb(197,180,229);
    --bg-color-left: rgb(255,223,233);
    --bg-color-center: rgb(255,255,255);
    --bg-color-right: rgb(229,234,249);
  }
  .theme-pink3 {
    --text-color-base: rgb(222,239,255);
    --bg-color-left: rgb(255,170,171);
    --bg-color-center: rgb(255,255,255);
    --bg-color-right: rgb(255,234,220);
  }
}

* {
  padding: 0;
  margin: 0;
}
